
.sidebar {
  background-color: white;
  display: flex;
    flex-direction: column;
    padding: 4rem 0;
    padding-top: 8vmax;
    border-right: 1px solid rgba(128, 128, 128, 0.507);
  }
  
  .sidebar > a:first-child {
    padding: 0;
  }
  .sidebar > a > img {
    width: 80%;
    transition: all 0.5s;
    padding-left: 1.5vmax;
  }
  
  .sidebar > a > img:hover {
    filter: drop-shadow(0 0 10px aqua);
  }
  .sidebar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.493);
    font: 200 1rem "Roboto";
    padding: 2rem;
    transition: all 0.5s;
  }
  .sidebar a:hover {
    color: rgb(0, 191, 191);
    transform: scale(1.1);
  }
  
  .sidebar a > P {
    display: flex;
    align-items: center;
  }
  .sidebar a > p > svg {
    margin-right: 0.5rem;
  }
  
  .MuiTypography-root {
    background-color: white !important;
  }
  

  @media screen and (max-width: 600px) {
    .sidebar {
      padding-top: 14vmax;
      align-items: center;
      padding-bottom: 0vmax;
      margin-bottom: -5vmax;
    }
    .sidebar > a > img {
      width: 96%;
      transition: all 0.5s;
      padding-left: 1.5vmax;
    }
  } 